<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#testform').submit(function(event) {
			event.preventDefault();
			//var arrayData = $('#testform').serializeArray();

			var objectData = {};
			
			$('#testform').find(':input[name]:enabled').each( function() {
		         var self = $(this);
		         var name = self.attr('name');
		         
		         if (objectData[name]) {
		        	 objectData[name] = objectData[name] + ',' + self.val();
		        	 
		         }
		         else {
		        	 objectData[name] = self.val();
		        	 alert(objectData);
		         }
		     });


			/*
			$.each(arrayData, function() {
				var value;

				if (this.value != null) {
					value = this.value;
				} else {
					value = '';
				}

				if (objectData[this.name] != null) {
					if (!objectData[this.name].push) {
						objectData[this.name] = [ objectData[this.name] ];
					}

					objectData[this.name].push(value);
				} else {
					objectData[this.name] = value;
				}
			});*/

			$.ajax({
				method : "POST",
				url : "/save",
				contentType : "application/json",
				data : JSON.stringify(objectData),
				dataType : 'json'
			}).done(function(msg) {
				alert("Data Saved: " + msg['firstName']);
			});
		});
	});
</script>
</head>
<body>
	<form id="testform">
		<input type="text" name="firstName" /> <input type="text" name="lastName" /> <input type="submit" value="submit" />
	</form>
</body>
</html>